DATABASE_URL=
FIRST_CLIENT=
REDISHOST=
REDISPASSWORD=
REDISPORT=
SECRET_KEY=
TELEGRAM_BOT_API_KEY=
YOUTUBE_API_KEY=
TELEGRAM_BOT_WEBHOOK_ENDPOINT=https://diplom-production-6120.up.railway.app/api/v1/telegram/webhook
TELEGRAM_BOT_WEBHOOK_SECRET=
REDISUSER=default
